@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body:before {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  background: #fff;
  bottom: 0;
}

body:after {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  background: #333;
  top: 0;
}

.custom-container {
  z-index: 1;
  max-width: 70%;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  background: #f6f5f0;
  box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.custom-container > h1 {
  font-size: 22px;
  margin: 0;
}

#country {
  color: #778899;
}

.detail {
  display: inline-flex;
  gap: 20px;
  font-style: italic;
}

.detail > h3 {
  font-weight: 500;
  font-size: 16px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
}

#search > input {
  height: 100%;
  width: 100%;
  flex: 1;
  outline: none;
  border: none;
  padding: 0 15px;
}

#search > button {
  background: #333;
  outline: none;
  border: none;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  align-items: center;
  max-width: 700px;
  margin: auto;
}

.card {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card.active-cases {
  background: #41a7ff;
  outline-style: solid;
  outline-color: #044bd9;
}

.card.total-cases {
  background: #ff69b4;
  outline-style: solid;
  outline-color: #d83f3f;
}

.card.critical-cases {
  background: #ff99a9;
  outline-style: solid;
  outline-color: #ff3434;
}

.card.total-deaths {
  background: #ff6b81;
  outline-style: solid;
  outline-color: #ff0053;
}

.card.recovered-cases {
  background: #32b336;
  outline-style: solid;
  outline-color: #006400;
}

.card.test-done {
  background: #ffdb58;
  outline-style: solid;
  outline-color: #ffa501;
}
